/* MAIN COLOR: #087F5B
GREY COLOR: #343A40 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  color: #343a40;
  line-height: 1;
}
img {
  width: 200px;
  border-radius: 8px;
  transform: scale(1.5);
}
.carousel {
  width: 800px;
  background-color: #087f5b;
  margin: 100px auto;
  padding-left: 206px;
  padding: 32px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  gap: 86px;
  align-items: center;
}
.testmonial-text {
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}
.testmonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #fff;
}
.testmonial-job {
  font-size: 12px;
}
